/**
* Styles of the game Lesath
* @authors: ibarbieri
* @description: this stylesheet is used in all the game
*/

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
	font-family: arial, sans-serif;
	background-color: #000;
}

@font-face {
  font-family: 'Mason';
  src: url('../fonts/Mason.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Mason.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mason.woff') format('woff'),
       url('../fonts/Mason.ttf')  format('truetype'),
       url('../fonts/Mason.svg#svgMason') format('svg');
}

.display-none {
	display: none;
	right: 0;
	position: absolute;
}

.visibility-hidden {
	visibility:hidden;
}


/* Canvas */
#extras,
#player,
#background {
	box-shadow: 0 40px 29px 2px #000 inset;
}

/*#extrasStatic {
	border: 1px solid red;
}*/

#extras {
	position: absolute;
	top: -200px;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 2;
/*	border: 1px solid yellow;*/
}

#extrasStatic {
	position: absolute;
	top: -200px;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 2;
/*	border: 1px solid yellow;*/
}

#player {
	position: absolute;
	top: -200px;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 1;
/*	border: 1px solid blue;*/
}

#background {
	position: absolute;
	top: -200px;
	margin: 0 auto;
	right: 0;
	left: 0;
/*	border: 1px solid red;*/
}

#secondaryCanvas {
	position: absolute;
	top: -200px;
	margin: 0 auto;
	right: 0;
	left: 0;
}


/* Player options: life, points, posims */
.player-opacity {
	opacity: 0.5;
}

#playerOptions {
	z-index: 3;
	position: absolute;
	font-size: 20px;
	color: #FFF;
	width: 950px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#playerOptions #aidenLife {
	background: url('../img/energy-aiden.png') no-repeat;
	width: 270px;
	height: 108px;
	margin: 8px 0 0 15px;
	text-indent: -9999px;
}

#playerOptions #adarhaLife {
	background: url('../img/energy-adhara.png') no-repeat;
	width: 270px;
	height: 108px;
	margin: 8px 0 0 15px;
	text-indent: -9999px;
}

#playerOptions #adarhaPotion {
	background: url('../img/pocima-adarha.png') no-repeat;
	width: 173px;
	height: 108px;
	position: absolute;
	right: 15px;
	top: 8px;
	text-indent: -9999px;
}

#playerOptions #adarhaHeartsDragon {
	background: url('../img/heart-dragon-plus.png') no-repeat;
	width: 99px;
	height: 108px;
	position: absolute;
	right: 6px;
	top: 70px;
	font-family: 'Mason', serif;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	padding-top: 31px;
	padding-right: 34px;
	color: #000;
}


#playerOptions #playerScore,
#playerOptions #playerHeartsDragon {
	z-index: 2;
	position: absolute;
	font-size: 20px;
	color: #FFF;
	max-width: 1200px;
	margin: 0 auto;
	right: 0;
	left: 0;
}


/* Ranking */
#ranking {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-ranking-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
	color: #333;
	font-family: 'Mason', serif;
	font-size: 20px;
	font-weight: bold;
}

#ranking h2 {
	color: #FFF;
}

#ranking .content {
	margin: 50px auto 0 auto;
	text-align: center;
}

#ranking .content table {
	width: 650px;
	margin: 50px auto 0 auto;
	background-color: #fff;
	border: 3px solid #FFF;
	border-radius: 6px;
}

#ranking .content table .tr-head {
	background: url('../img/header-ranking-table.png') repeat-x;
	background-position: top center;
	height: 49px;
	color: #333;
}

#ranking .content table tbody tr {
	height: 50px;
}

#ranking .content table a {
	color: #333;
	text-decoration: none;
}



/* Panerl Start Game mobile */
#panelStartMobile {
	position: absolute;
	z-index: 11;
	background-color: #000;
	width: 100%;
	height: 100%;
	color: #FFF;
	text-align: center;
}

/* Panel Start Game desktop */
#panelStartGame {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/start-game-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
}

#panelStartGame .content {
	margin: 220px auto 0 auto;
	width: 410px;
	text-align: center;
}

#panelStartGame form {
	text-align: center;
	margin: 30px 0 0 0;
	font-family: 'Mason', serif;
	font-size: 24px;
	font-weight: bold;
}

#panelStartGame input {
	width: 268px;
	height: 26px;
	font-family: 'Mason', serif;
	font-size: 16px;
	background-color: #42210B;
	color: #FFF;
}

#panelStartGame #buttonStartGame,
#panelStartGame #startGameMobile {
	text-align: center;
	color: #FFF;
	display: block;
	margin: 50px 0 0 0;
}


/* Panel choose player desktop */
#panelChoosePlayer {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-choose-player.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
}

#panelChoosePlayer .content {
	margin: 235px auto 0 auto;
	width: 480px;
	text-align: center;
}

#panelChoosePlayer .content div {
	color: #FFF;
	text-align: center;
	margin: 0 20px;
}

#panelChoosePlayer #adhara {
	background: url('../img/choose-adhara.png') no-repeat;
	width: 200px;
	height: 118px;
	cursor: pointer;
	float: left;
}

#panelChoosePlayer #adhara:hover {
	background-position-x: -200px;
}

#panelChoosePlayer #aidem {
	background: url('../img/choose-aidem.png') no-repeat;
	width: 200px;
	height: 118px;
	cursor: pointer;
	float: left;
}

#panelChoosePlayer #aidem:hover {
	background-position-x: -200px;
}


/* Panel Read Instructions desktop */
#panelReadInstructions {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-instructions-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
}

#panelReadInstructions .content {
	margin: 398px auto 0 auto;
	width: 472px;
	text-align: center;
}


/* Panel Read Instructions PAUSE desktop */
#panelReadInstructionsPause {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-instructions-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
}

#panelReadInstructionsPause .content {
	margin: 398px auto 0 auto;
/*	width: 472px;*/
	text-align: center;
}


/* Load Images */
#panelLoadImages {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-loading-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
}

#panelLoadImages .content {
	margin: 235px auto 0 auto;
	width: 480px;
	text-align: center;
}

#panelLoadImages .content img {

}


/* Panel pause  */
#panelPause {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-pause-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
	font-family: 'Mason', serif;
	font-size: 24px;
	font-weight: bold;
}

#panelPause .content {
	margin: 194px auto 0 auto;
	width: 472px;
	text-align: center;
}

#panelPause .content a {
	display: block;
	margin: 0px 0 36px 0;
	color: #000;
	text-decoration: none;
	text-shadow: 0px 0px 14px #F7F6CB;
}

#panelPause .content a:hover {
	color: #000;
	text-shadow: 0px 0px 14px #000;
}


/* Panel Play again */
#panelPlayAgain {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-play-again-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
	font-family: 'Mason', serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#panelPlayAgain .content {
	margin: 236px auto 0 auto;
	width: 472px;
	text-align: center;
}

#panelPlayAgain .content a {
	padding: 0 10px;
}


/* Panel win game  */
#panelWin {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-win-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
	font-family: 'Mason', serif;
	font-size: 20px;
	color: #000;
}

#panelWin .content {
	margin: 190px auto 0 auto;
	width: 472px;
	text-align: center;
}

#panelWin .score {
	font-size: 38px;
	font-weight: bold;
}

#panelWin p {
	line-height: 20px;
	font-size: 18px;
	width: 380px;
	margin: 22px auto;
}


/* Panel Game over */
#panelGameOver {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-over-panel.jpg') no-repeat;
	background-position: top center;
	z-index: 10;
	font-family: 'Mason', serif;
	font-size: 20px;
	color: #000;
}

#panelGameOver .content {
	margin: 190px auto 0 auto;
	width: 472px;
	text-align: center;
}

#panelGameOver .score {
	font-size: 38px;
	font-weight: bold;
}

#panelGameOver p {
	line-height: 20px;
	font-size: 20px;
	width: 380px;
	margin: 30px auto;
}


/* Panerl Game complete */
#panelGameComplete {
	position: absolute;
	width: 950px;
	height: 624px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: url('../img/game-complete.jpg') no-repeat;
	background-position: top center;
	z-index: 4;
}


/* Panel Game */
#panelGame {
	position: absolute;
	font-family: 'Mason', serif;
	font-size: 24px;
	font-weight: bold;
	color: #3B1305;
	width: 100%;
	height: 200px;
	background: url('../img/background-panel-game.jpg') no-repeat;
	background-position: top center;
	background-color: #000;
	width: 950px;
	margin: 0 auto;
	top: 555px;
	right: 0;
	left: 0;
	z-index: 10;
}

#panelGame a {
	color: #3B1305;
	text-decoration: none;
}

#panelGame a:hover {
	text-shadow: 0px 0px 12px #DCD4B2;
	color: #DCD4B2;
}

#panelGame .left-actions {
	display: block;
	margin-top: 34px;
	width: 310px;
	margin-left: 28px;
}

#panelGame .brand-lesath {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: -30px;
	right: 0;
	left: 0;
}

#panelGame .right-actions {
	position: absolute;
	top: 22px;
	right: 30px;
	display: block;
}

#panelGame img {
	padding: 0 10px;
}


/* Controls */
#controls {
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 5;
	bottom: 0;
	padding: 0 30px;
	display: none;
	width: 100%;
	-webkit-user-select: none;
}

#controls .jump-attack-controls {
	float: right;
	position: absolute;
	bottom: 0;
	right: 80px;
	-webkit-user-select: none;
}

#controls input {
/*	width: 35px;*/
	font-size: 30px;
	border: none;
}

#controls input[type="button"]:focus {
	display: none;
}

/* Mobile controls */
.down-arrow {
	width: 47px;
	height: 47px;
	background: url('../img/down-arrow.png') no-repeat;
}

.top-arrow {
	width: 54px;
	height: 56px;
	background: url('../img/top-arrow.png') no-repeat;
}

.right-arrow {
	width: 54px;
	height: 56px;
	background: url('../img/right-arrow.png') no-repeat;
}

.left-arrow {
	width: 54px;
	height: 56px;
	background: url('../img/left-arrow.png') no-repeat;
}

.attack-key {
	width: 54px;
	height: 56px;
	background: url('../img/attack-key.png') no-repeat;
}



/************ Medias queries **********/
@media (max-width: 800px) {
	#extras,
	#player,
	#background {
		box-shadow: 0 0 0 0 #000 inset;
	}

}







